.header {
	margin-bottom: 90px;
	min-width: 1200px;
	&__wrap {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 35px;
		padding-top: 30px;
		transition: padding 0.4s ease;
		will-change: padding;
	}

	&__img img {
		width: 100%;
	}

	&__img a {
		display: block;
		width: 130px;
		height: 41px;
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__nav {
		width: 620px;
		z-index: 10;
		margin: 0 auto;
	}

	&__nav ul {
		display: flex;
		justify-content: space-between;
	}

	&__nav a {
		color: #474a4d;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-weight: 700;
	}

	&__order {
		display: flex;
		align-items: center;
		z-index: 10;
	}

	&__order p {
		color: #474a4d;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		font-weight: 700;
		margin-right: 15px;
	}

	&__order a {
		position: relative;
		display: block;
		padding: 8px 0px;
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		width: 118px;
		color: #fff;
		border-radius: 100px;
		letter-spacing: 0.025em;
		font-weight: 700;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc4d3d+0,fe7e53+100,2989d8+100,7db9e8+100 */
		background: rgb(255,96,81); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(255,96,81,1) 0%, rgba(255,138,99,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,96,81,1) 0%,rgba(255,138,99,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,96,81,1) 0%,rgba(255,138,99,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6051', endColorstr='#ff8a63',GradientType=1 ); /* IE6-9 */ /*IE6-9 */
		transition: 0.3s ease;  
		z-index: 1;
		 -webkit-backface-visibility: hidden;
		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 100px;
			color: #fff;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2b2b+100,7db9e8+100 */
			background: rgb(255,96,81); /* Old browsers */
					background: -moz-linear-gradient(right, rgba(255,96,81,1) 0%, rgba(255,138,99,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(right, rgba(255,96,81,1) 0%,rgba(255,138,99,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to left, rgba(255,96,81,1) 0%,rgba(255,138,99,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6051', endColorstr='#ff8a63',GradientType=1 ); /* IE6-9 */
			transition: 0.3s ease;  
			opacity: 0;
			z-index: 2;
		}

		&:hover::before {
			opacity: 1;
		}

		&:hover {
			animation: pulse-small 0.8s 0s ease-out 1;
		}
	}

	&__order span {
		position: relative;
		z-index: 3;
	}

	&.scroll-to-fixed-fixed {
		z-index: 998 !important;
		&:before {
			content: '';
			display: block;
			position: absolute;
			z-index: 0;
			top: 0;
			right: 0;
			left: 0;
			bottom: -32px;
			opacity: 0;
			transition: opacity 0.4s ease;
			will-change: opacity;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+45,ffffff+89,ffffff+100&1+0,1+56,0.88+70,0.5+83,0.01+100 */
			background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 56%, rgba(255,255,255,0.88) 70%, rgba(255,255,255,0.5) 83%, rgba(255,255,255,0.33) 89%, rgba(255,255,255,0.01) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 56%,rgba(255,255,255,0.88) 70%,rgba(255,255,255,0.5) 83%,rgba(255,255,255,0.33) 89%,rgba(255,255,255,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 56%,rgba(255,255,255,0.88) 70%,rgba(255,255,255,0.5) 83%,rgba(255,255,255,0.33) 89%,rgba(255,255,255,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#03ffffff',GradientType=0 ); /* IE6-9 */

		}
		+ div {
			margin-bottom: 90px;
		}
	}
	&.gradient {
		&:before {
			opacity: 0.9;
		}
		.header__wrap {
			padding-top: 12px;
		}
	}
}


@keyframes pulse-small {
    from {
        box-shadow: 0 0 2px 4px #ff6051, 0 0 6px 8px #ff6051;
    }
    to {
        box-shadow: 0 0 10px 6px rgba(255, 96, 81, 0), 0 0 4px 40px rgba(255, 96, 81, 0);
    }
}
