.intro {
	overflow: hidden;
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1015px;
		margin: 0 auto;
	}

	&__subtitle {
		color: #474a4d;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 8px;
		letter-spacing: 0.025em;
	}

	&__container {
		width: 455px;
		margin-top: 20px;
	}

	&__container h1 {
		color: #474a4d;
		font-size: 94px;
		letter-spacing: 0.025em;
		line-height: 98px;
		text-transform: uppercase;
		font-weight: 800;
		margin-left: -4px;
	}

	&__img {
		z-index: 10;
		margin-right: -100px;

	}

	&__img ul {
		width: 100%;
	}

	&__img img {
		height: 600px;
	}

	&__info {
		margin-top: 8px;
		margin-bottom: 35px;
		color: #474a4d;
		font-size: 14px;
		line-height: 21px;
		font-weight: 400;
		letter-spacing: 0.025em;
	}

	&__span-big {
		font-weight: 700;
		font-size: 18px;
	}

	&__span-small {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 14px;
			border-bottom: 1px solid #fe7e53;;
			left: 0;
			top: -5px;
		}
	}

	&__btns {
		display: flex;
		align-items: center;
	}

	&__order {
		display: block;
		padding: 8px 0;
		width: 170px;
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		color: #fff;
		border-radius: 100px;
		letter-spacing: 0.05em;
		font-weight: 700;
		margin-right: 20px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc4d3d+0,fe7e53+100,2989d8+100,7db9e8+100 */
		background: rgb(252,77,61); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(252,77,61,1) 0%, rgba(254,126,83,1) 100%, rgba(41,137,216,1) 100%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(252,77,61,1) 0%,rgba(254,126,83,1) 100%,rgba(41,137,216,1) 100%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(252,77,61,1) 0%,rgba(254,126,83,1) 100%,rgba(41,137,216,1) 100%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4d3d', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
		transition: 0.3s ease;  
		&:hover {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2b2b+100,7db9e8+100 */
			background: rgb(43,43,43); /* Old browsers */
			background: -moz-linear-gradient(left, rgba(43,43,43,1) 100%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(43,43,43,1) 100%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(43,43,43,1) 100%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
			transition: 0.3s ease;  
		}
	}

	&__more {
		display: block;
		padding: 8px 0;
		width: 170px;
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		color: #606060;
		border: 2px solid #939393;
		border-radius: 100px;
		font-weight: 700;
		transition: ease 0.3s;
		&:hover {
			opacity: 0.65;
			transition: ease 0.3s;
		}
	}

	&__mouse-content {
		overflow: hidden;
		position: relative;
		max-width: 1402px;
		margin: 0 auto;
		text-align: center;
		font-size: 12px;
		line-height: 21px;
		color: #474a4d;
		margin-top: 110px;
		min-height: 75px;
	}

	&__mouse-content p {
		padding-bottom: 5px;
	}

	&__mouse-icon {
		display: block;
		position: absolute;
		left: 50%;
		background-image: url("../img/mouse.png");
		width: 18px;
		height: 28px;
		background-size: contain;
		background-position: center;
		margin: 0 auto;
		margin-top: 8px;
		animation: arrowDown 2s infinite;
		animation-timing-function: linear;
		transform: translate(-50%, 0);
	}

	@keyframes arrowDown {
	  0% {
	    top: 10px
	  }
	  25% {
	    top: 20px;
	  }
	  50% {
	     top: 30px;
	  }

	  75% {
	  	top: 20px;
	  }
	  100% {
	    top: 10px
	  }
	}
}
